<div class="lookbook-page">
  <div class="container">
    {% render 'breadcrumb' %}

    <header class="page-header">
      <h2>
        {% render 'multilang' with page.title %}
      </h2>  
    </header>

    <div class="wrapper-lookbook">
      {% section 'lookbook-custom'%}
    </div>
  </div>
</div>
