<div class="faqs-page">
  <div class="container">
    {% render 'breadcrumb' %}
    
    <header class="page-header">
      <h2>
        {% render 'multilang' with page.title %}
      </h2>  
    </header>
    
    {% section 'faq-page' %}
  </div>
</div>