<div class="collection-list-page">
  <div class="wrapper-content">
    {% section 'collection-menu-block' %}
    {% section 'home-custom-block-baner-collection-list-5' %}
    {% section 'custom-block-banner-collection-list-5' %}
    {% section 'collection-custom-block-images' %}
    {% section 'home-featured-products' %}
  </div>
</div>